{:project/name "µ/log",
 :project/tagline
 "μ/log is a micro-logging library that logs events and data, not words!",
 :project/repo-url "https://github.com/BrunoBonacci/mulog",
 :project/home-page-url
 "https://cljdoc.org/d/com.brunobonacci/mulog/CURRENT",
 :project/beginner-issues-label "good first issue",
 :project/description
 "µ/log takes structured logging to the next level. It makes fully use of Clojure ability to work with data that you will forget how to use traditional loggers.\nBecause you can easily and cheaply log events you can use the same events for monitoring and observability purposes. Try it.",
 :project/beginner-friendly true,
 :record/tags "tooling, distributed"}
