{:project/name "Braid",
 :project/tagline
 "A group-chat application (not just a library) that promotes productive team conversations",
 :project/repo-url "https://github.com/braidchat/braid",
 :project/home-page-url "http://www.braidchat.com/",
 :project/beginner-issues-label "help%20wanted",
 :project/description
 "Braid is a group chat application, so, like Slack, but, with a novel UI that better promotes productive team communication.\n\nSince Braid is an application, not just a library, it provides a great opportunity to gain real-world clojure app development experience.\n\nFor the same reason, the size of the code-base is quite large, but don't worry! We've tried to make it easy to get started and we've architected the app into loosely-coupled modules (think \"wordpress plugins\"), to make it easier to understand. \n\nJames and Raf are available to pair code with anyone who'd like to get started.\n\nInstructions for contributing and getting started are in the README: https://github.com/braidchat/braid#contributing \n\n",
 :project/beginner-friendly true,
 :record/tags "web"}
