{:project/name "Braid",
 :project/tagline
 "A new approach to group chat, designed around conversations and tags instead of rooms",
 :project/repo-url "https://github.com/braidchat/braid",
 :project/home-page-url "http://www.braidchat.com/",
 :project/beginner-issues-label "help%20wanted",
 :project/description
 "Braid is a group chat application, like Slack, but with a novel UI that better promotes productive team communication.\n\nSince Braid is an application and not just a library, it provides a great opportunity to gain real-world clojure app development experience.\n\nThe size of Braid's code-base is quite large compared to a library, but don't worry! We've put lots of effort into making it easy to get started and we've architected the app into loosely-coupled modules (think \"wordpress plugins\") to make it easier to reason about. \n\nJames and Raf are available to pair code with anyone who'd like to contribute.\n\nInstructions for contributing and getting started are in the README: https://github.com/braidchat/braid#contributing \n\n",
 :project/beginner-friendly true,
 :record/tags "web"}
