{:project/name "Dashboard-clj",
 :project/tagline "Mini-framework for building real-time dashboards",
 :project/repo-url "https://github.com/multunus/dashboard-clj",
 :project/home-page-url "https://github.com/multunus/dashboard-clj",
 :project/description
 "We want to abstract away the plumbing work that goes into building real-time dashboards.",
 :record/tags
 "realtime, dashboard, framework, backend, frontend, re-frame"}
