{:project/name "eggplant ",
 :project/tagline "BDD Library for Clojure",
 :project/repo-url "https://github.com/egg-plant/eggplant",
 :project/home-page-url "https://github.com/egg-plant/eggplant",
 :project/beginner-issues-label "",
 :project/description
 "eggplant is at the very beginning of its life. BDD is a very popular form of development and specification by example is a key part of this process. eggplant intends to provide the technical features required for this to enable simple and fast BDD for Clojure. \n\nPosted up at the very beginning of the projects life to get involvement as soon as possible.",
 :project/beginner-friendly true}
